.done{
    text-decoration: line-through;
}

h3 {
    margin-top: 2em;
}
ul {
    width:max-content;
}

li {
    list-style-type:none;
    overflow: hidden; 
}

.del-btn {
    float:right;
    margin-left: 2em;
}
